*.log
local_settings.py

#Pycache Files
*/__pycache__/*
squirrel_project/__pycache__/*
squirrel_project/management/commands/__pycache__/*
squirrel_project/migrations/__pycache__/*
squirrel/__pycache__/*
*/collected-static/*
